<a href="https://colab.research.google.com/github/SOW2605/Assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST

In [ ]:
#Lists
list1=["page","view",205,26.05,"studio",2510,"virtual",False]
list2=["android",True,100]
print("1=",list1)
print("2=",list2)

#adding two lists
list3=list1+list2
print("sum=",list3)
print(len(list3))

#indexing
print("\nIndexing")
print("1.",list3[3])
print("2.",list2[-2])
print("3.",list3[-6])

#Slicing
print("\nSlicing")
print("1.",list3[1:5])
print("2.",list1[-4:-1])
print("3.",list2[:2])
print("4.",list3[5:])
print("5.",list3[:-5])

#Step Indexing
print("\nStep Indexing")
print("1.",list3[1:6:2])
print("2.",list3[-7::3])
print("3.",list3[::4])
print("4.",list3[:6:2])

1= ['page', 'view', 205, 26.05, 'studio', 2510, 'virtual', False]
2= ['android', True, 100]
sum= ['page', 'view', 205, 26.05, 'studio', 2510, 'virtual', False, 'android', True, 100]
11

Indexing
1. 26.05
2. True
3. 2510

Slicing
1. ['view', 205, 26.05, 'studio']
2. ['studio', 2510, 'virtual']
3. ['android', True]
4. [2510, 'virtual', False, 'android', True, 100]
5. ['page', 'view', 205, 26.05, 'studio', 2510]

Step Indexing
1. ['view', 26.05, 2510]
2. ['studio', False, 100]
3. ['page', 'studio', 'android']
4. ['page', 205, 'studio']

TUPLE

In [ ]:
tuple1=("python","java","c++",["php",2.5],33.88,True,"django","mysql")
print(tuple1)
print(type(tuple1))
print(tuple1[1:5])
print(tuple1[1:6:2])

('python', 'java', 'c++', ['php', 2.5], 33.88, True, 'django', 'mysql')
<class 'tuple'>
('java', 'c++', ['php', 2.5], 33.88)
('java', ['php', 2.5], True)

DICTIONARY

In [ ]:
dict1={"fruit":"papaya","vegetable":("tomato","raddish","carrot"),"snacks":"french fries",1:"data science",2:"machine learning"}
print(dict1)
print(type(dict1))

print(dict1["fruit"])

#update
dict1["fruit"]=["apple","banana","orange"]
print(dict1)

#adding elements
dict1[3]="robotics"  #method 1
print("\nupdated dictionary=",dict1)
dict1.update({4:350})   #method2
print("\nupdated dictionary 1=",dict1)

#deleting elements
del dict1["vegetable"]
print("\nafter deleting=",dict1)

# Converting dictinary to list
dict_list=list(dict1)
print(dict_list)
print(dict_list[2])
print(dict1[1])

{'fruit': 'papaya', 'vegetable': ('tomato', 'raddish', 'carrot'), 'snacks': 'french fries', 1: 'data science', 2: 'machine learning'}
<class 'dict'>
papaya
{'fruit': ['apple', 'banana', 'orange'], 'vegetable': ('tomato', 'raddish', 'carrot'), 'snacks': 'french fries', 1: 'data science', 2: 'machine learning'}

updated dictionary= {'fruit': ['apple', 'banana', 'orange'], 'vegetable': ('tomato', 'raddish', 'carrot'), 'snacks': 'french fries', 1: 'data science', 2: 'machine learning', 3: 'robotics'}

updated dictionary 1= {'fruit': ['apple', 'banana', 'orange'], 'vegetable': ('tomato', 'raddish', 'carrot'), 'snacks': 'french fries', 1: 'data science', 2: 'machine learning', 3: 'robotics', 4: 350}

after deleting= {'fruit': ['apple', 'banana', 'orange'], 'snacks': 'french fries', 1: 'data science', 2: 'machine learning', 3: 'robotics', 4: 350}
['fruit', 'snacks', 1, 2, 3, 4]
1
data science

SLICING

In [ ]:
s= "pseudopseudohypoparathyroidism"
print(s[10])
print(s[13:20])
print(s[-29:-16])
print(s[17:-27])
print(s[13:27:3])

d
ypopara
seudopseudohy

ypayi

**ASSIGNMENT 3**

In [1]:
with open ("as_3.txt","w") as f1:
  f1.write("My name is Sowmya P Y\nI am currently persuaing BE degree in Computer Science and Engineering\nI am studing in Dr AIT\n ")

In [ ]:
with open("as_3.txt","r") as f1:
  print(f1.read())

My name is Sowmya P Y
I am currently persuaing BE degree in Computer Science and Engineering
I am studing in Dr AIT

In [ ]:
# r+ = read and then write
with open ("as_3.txt","r+") as f1:
  print(f1.read())
  f1.write("I am attending the course on Data Science\nThe course is provided by Teachnook ")

My name is Sowmya P Y
I am currently persuaing BE degree in Computer Science and Engineering
I am studing in Dr AIT

In [ ]:
# w+ = write and then reading a file
with open("as_3.txt","w+") as f1:
  f1.write("Hello, this is Sowmya P Y\nI will graduate in the year 2023\nMy CGPA till 6th semester is 8.38")
  data=f1.read()
  print(data)

In [ ]:
# a+ = open for reading and then appending
with open("as_3.txt","a+") as f1:
  print(f1.read())
  f1.write("\nhello world\nhelloooo world")

In [ ]:
# reading the final file after r+,w+,a+ mode
f1= open("as_3.txt","r")
print(f1.read())

Hello, this is Sowmya P Y
I will graduate in the year 2023
My CGPA till 6th semester is 8.38
hello world
helloooo world

In [ ]:
# CALCULATOR
def add(x,y):
  return x+y
def sub(x,y):
  return x-y
def mul(x,y):
  return x*y
def div(x,y):
  return x/y

print("Select an option\n1.Addition\n2.Subtraction\n3.Multiplication\n4.Division")

option=input("option=")
a=int(input("Enter the first number="))
b=int(input("Enter the second number="))

if option=='1':
    res1=print(a,"+",b,"=",add(a,b))
elif option=='2':
    res2=print(a,"-",b,"=",sub(a,b))
elif option=='3':
    res3=print(a,"*",b,"=",mul(a,b))
elif option=='4':
    res4=print(a,"/",b,"=",div(a,b))
else:
    print("Invalid option")

Select an option
1.Addition
2.Subtraction
3.Multiplication
4.Division
option=3
Enter the first number=3
Enter the second number=5
3 * 5 = 15